.grid-container-about {
    display: grid;
    grid-template-columns: 1fr minmax(min-content,max-content) 1fr;
    grid-template-rows: 10px min-content auto;
    grid-template-areas:
        ". . ."
        ". info ."
        ". . .";
    padding: 10px;
}

.about-info {
    grid-area: info;
}