
/**************************************
******** containers **** *************
**************************************/

/* .container-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 70px minmax(min-content,auto);
  grid-template-areas: 
      "teamA teamB"
      "score score"
      "game game";
} */

/* For large displays (desktop, horizontal tablets, etc.)*/
/* @media(min-width: 900px){
  .container-home {
    display: grid;
    grid-template-columns: 30px 150px auto 150px 30px;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        ". . score . ."
        ". teamA game teamB ."
        ". . requestCard . .";
  }
} */

.container-home {
  display: grid;
  grid-template-columns: 30px 150px auto 150px 30px;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
      ". . score . ."
      ". teamA game teamB ."
      ". . requestCard . .";
}

.container-score {
  grid-area: score;
  display: grid;
  grid-template-columns: auto minmax(min-content,200px) 50px minmax(min-content,200px) 50px auto;
  grid-template-rows: 50px;
  grid-template-areas: 
    ". labelA scoreA labelB scoreB .";
  font-size: 18pt;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-players {
  display :flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 16pt;
}

/**************************************
******** team items ******************
**************************************/

.team-a{
  grid-area: teamA;
}
.team-b {
  grid-area: teamB;
}

.player-a {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.player-b {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

/* .player-a {
  min-height: 50px;
}

.player-b {
  min-height: 50px;
} */

/* For large displays (desktop, horizontal tablets, etc.)*/
/* @media(min-width: 900px){
  .player-a {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .player-b {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
} */

/**************************************
******** score items *****************
**************************************/

.label-a{
  grid-area: labelA;
}

.label-b{
  grid-area: labelB;
}

.score-a{
  grid-area: scoreA;
}

.score-b{
  grid-area: scoreB;
}

/**************************************
******** shared stylings *************
**************************************/

.text-white, .label-a, .label-b, .score-a, .score-b, .player-a, .player-b {
  color: white;
  padding-top: 8px
}

/**************************************
******** game canvas *****************
**************************************/

.player-hand {
  grid-area: game;
  min-height: 400px;
  margin: auto auto auto auto;
}

.start {
  grid-area: start;
  width: fit-content;
  height: fit-content;
  font-size: 30pt;
  background-color: rgb(255, 191, 0);
  color: black;
}

.container-start {
  display: grid;
  grid-template-columns: auto min-content auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
      ". . ."
      ". start ."
      ". . .";
  padding: 10%;
}

.container-hand {
  grid-area: game;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 10px 10px 10px;
}

.container-request-button {
  grid-area: requestCard;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
      ". button .";
}

.request-button {
  grid-area: button;
  width: min-content;
  font-size: 18pt;
}

.cards {
  height: 100px;
}
