.jer-grey {
    color:#fff!important;
    background-color:rgb(51, 51, 51)!important
}

.jer-grey2 {
    color:#fff!important;
    background-color:rgb(124, 124, 124)!important
}

.w3-button, .f-14{
    font-size: 14pt;
}
  