/**************************************
******** color schemes **** ***********
**************************************/

.jer-blue {
    background-color:rgb(0, 145, 225);
    color: white;
}

.jer-blue-light {
    background-color:rgb(0, 165, 235);
    color: white;
}

.jer-green {
    background-color:rgb(0, 135, 10);
    color: white;
}

.jer-green-light {
    background-color:rgb(0, 155, 20);
    color: white;
}

.jer-yellow {
    background-color: rgb(255, 191, 0);
    color: black;
}

.jer-grey {
    color:#fff!important;
    background-color:rgb(51, 51, 51)!important
}

.jer-grey2 {
    color:#fff!important;
    background-color:rgb(124, 124, 124)!important
}


/**************************************
******** main area *****************
**************************************/

.container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 70px 500px auto;
    grid-template-areas: 
        "score score"
        "players players"
        "game game"
        "requestCard requestCard";
}

/**************************************
******** player items ****************
**************************************/

.container-players {
    grid-area: players;
    display : grid;
    grid-template-columns: 1fr min-content min-content min-content min-content min-content min-content 1fr;
    grid-auto-rows: 50px;
    grid-template-areas:
        ". a1 a2 a3 b1 b2 b3 .";
    font-size: 16pt;
    margin-bottom: 10px;
}

.player {
    width: 100px;
    margin: 0px;
    text-align: center;
    padding-top: 10px;

}

/**************************************
******** score area *****************
**************************************/

.container-score {
    grid-area: score;
    display: grid;
    grid-template-columns: auto 200px 100px 200px 100px auto;
    grid-template-rows: 50px;
    grid-template-areas: 
        ". labelA scoreA labelB scoreB .";
    font-size: 18pt;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 0px;
}

.label-a{
    grid-area: labelA;
}

.label-b{
    grid-area: labelB;
}

.score-a{
    grid-area: scoreA;
}

.score-b{
    grid-area: scoreB;
}

.jer-border-r{
    border-right: solid 2px rgba(0, 0, 0, 0.100);
}

.jer-border-b{
    border-bottom: solid 2px rgba(0, 0, 0, 0.100);
}

/**************************************
******** shared stylings *************
**************************************/

.text-white, .label-a, .label-b, .score-a, .score-b, .player-a, .player-b {
    color: white;
    font-size: 18pt;
    padding-top: 8px
}

/**************************************
******** start area *****************
**************************************/

.start {
    grid-area: start;
    width: fit-content;
    height: fit-content;
    font-size: 30pt;
    background-color: rgb(255, 191, 0);
    color: black;
}

.container-start {
    display: grid;
    grid-template-columns: auto min-content auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        ". . ."
        ". start ."
        ". . .";
    padding: 10%;
}

/**************************************
******** game area *****************
**************************************/

.player-hand {
    grid-area: game;
    min-height: 400px;
    margin: auto auto auto auto;
}


.container-hand {
    grid-area: game;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

.container-request-button {
    grid-area: requestCard;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". button .";
}

.request-button {
    grid-area: button;
    width: min-content;
    font-size: 18pt;
}

.cards {
    height: 100px;
}


/**************************************
******** message modal ****************
**************************************/

.container-message {
    display: grid;
    grid-auto-columns: 1fr min-content 1fr;
    grid-auto-rows: 2fr 1fr;
    grid-template-areas:
        "content content content"
        ". closeMessage .";
}

.container-message-button {
    grid-area: closeMessage;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". button .";
}

.message {
    grid-area: content;
    font-size: 16pt;
    margin: 20px;
}

.message-button {
    margin: 20px;
    grid-area: button;
    width: min-content;
    font-size: 18pt;
}

/**************************************
******** request modal ****************
**************************************/

.container-request {
    display: grid;
    grid-template-columns: 1fr 300px 120px 1fr;
    grid-template-rows: 20px min-content min-content min-content min-content 20px;
    grid-template-areas:
        ". . . ."
        ". player pSelect ."
        ". number nSelect ."
        ". suit sSelect ."
        ". cancel request .";
}

.request-options {
    font-size: 16pt;
    padding-top: 5px;
}

.request-select {
    background-color: white;
    color: black;
}

.request-cancel-button {
    grid-area: cancel;
    width: 120px;
}

.request-request-button {
    grid-area: request;
    width: 120px;
}

.request-content {
    margin-top: 10px;
    margin-bottom: 10px;
}


/**************************************
******** end of game ****************
**************************************/

.refresh-message {
    font-size: 16;
    text-align: center;
    display: none;
}

/**************************************
******** about modal ****************
**************************************/

.grid-container-about {
    display: grid;
    grid-template-columns: 1fr minmax(min-content,max-content) 1fr;
    grid-template-rows: 10px min-content auto;
    grid-template-areas:
        ". . ."
        ". info ."
        ". . .";
    padding: 10px;
    padding-bottom: 30px;
}

.about-info {
    grid-area: info;
}

/* misc */

.f-14{
    font-size: 14pt;
}

.w3-bar-item{
    font-size: 16pt;
}
