<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
<div class="w3-bar jer-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">
        <i class="fas fa-play"></i>
        Literature</a>
    <a onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button w3-mobile">
        <i class="fas fa-list"></i>
        Rules</a>
    <a href="/about" class="w3-bar-item w3-button w3-mobile w3-right">
        <i class="fas fa-info-circle"></i>
        About</a>
</div>