<div class="player jer-blue-light" id="1" style="grid-area: a1" ng-click="peek(1)">P1</div>
<div class="player jer-blue-light" id="2" style="grid-area: a2" ng-click="peek(2)">P2</div>
<div class="player jer-blue-light" id="3" style="grid-area: a3" ng-click="peek(3)">P3</div>
<div class="player jer-green-light" id="4" style="grid-area: b1" ng-click="peek(4)">P1</div>
<div class="player jer-green-light" id="5" style="grid-area: b2" ng-click="peek(5)">P2</div>
<div class="player jer-green-light" id="6" style="grid-area: b3" ng-click="peek(6)">P3</div>
