<div id="id02" class="w3-modal" style="display: none;">
    <div class="w3-modal-content w3-card-4 w3-animate-top" style="max-width: 600px">
        <header class="w3-container jer-grey">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button jer-grey w3-xlarge w3-display-topright">&times;</span>
            <p class="f-14">Card Inquiry</p>
        </header>

        <div id="Selection" class="w3-container">
            <!--select player -->
            <!--select suit-->
            <!--select number-->
        </div>
    </div>
</div>