{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/about.css') }}">
<div class="grid-container-about">
    <div class="about-info">
        <h1 class="display-4">Play Literature</h1>
        <p class="lead">Developed by Jeremy Watson</p>
        <p class="lead">Contact: NO</p>
        <hr class="my-4">
        <p>Implemenation eh of the Canadian card game, Literature, for CS 446.</p>
    </div>
</div>
{% endblock %}