<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Play Literature</title>

    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/w3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/game.js') }}"></script>

</head>

<body ng-app="Literature">
    {% include 'includes/_navbar.html' %}
    {% block body %}{% endblock %}
    {% include 'includes/_rules.html' %}
    {% include 'includes/_about.html' %}
</body>

</html>